[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "eokulapi"
version = "0.0.7"
authors = [
  { name="insanolanbiri" },
]
description = "eokul vbs api"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
]
dependencies = [
    "requests>=2.28.1",
]

[project.urls]
"Homepage" = "https://github.com/insanolanbiri/eokulapi"
"Bug Tracker" = "https://github.com/insanolanbiri/eokulapi/issues"